body {
  margin:0px;
}

.pagetitle {
  margin: 5px;
  text-align: center;
  min-height: 100%;
  min-width:80%;
  /*need to adjust this for when sidebar is different sizes */
  margin-left: 20%;
  position: absolute;
}

h1 {
  /* style of top header here*/
  font-size: 90px;
  font-family: 'Allerta', sans-serif;
  font-weight: bolder;
  color: #FF7F50;
  margin: 5px;
}

.sidebar{
  height:100%;
  width:20%;
  background-color:#FFE4C4;
  position:fixed;
}

h2.nav {
  /*style of navigation header here*/
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #5f91ec;
  margin-top: 50%;
}

.nav {
  width:80%;
  display:block;
  margin-left: 10%;
  padding:10px 0px;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #5f91ec;
  text-shadow: 0.5px 0.5px gray;
  text-decoration-line: none;
}

a.nav:hover {
    background-color:#ff7f50;
    color:#FFE4C4;
    font-size:19px;
    text-shadow: none;
}
h3 {
  /*style of about section here*/
  font-size: 30px;
  font-family: 'Lateef', cursive;
  color: black;
  margin-left: : 100px;
}
p {
  font-size: 15px;
  font-family: 'Allerta', sans-serif;
  color: black;
  margin-left: : 100px;
}
