body {
  margin:0px;
  background-color: #e6f3ff;
}

.content{
  /* set background image
  how do i make this linked from the image in the folder?
  */
  /*
  */
  text-align: center;
  height: 100%;
  width:80%;
  /*need to adjust this for when sidebar is different sizes */
  margin-left: 20%;
  position: absolute;
}

h1 {
  /* style of top header here*/
  font-size: 90px;
  font-family: 'Allerta', sans-serif;
  font-weight: bolder;
  color: #2c4786;
  margin: 5px;
}


.sidebar{
  height:100%;
  width:20%;
  background-color:#d2d2d4;
  position:fixed;
}

h2.nav {
  /*style of navigation header here*/
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #2c4786;
  margin-top: 50%;
}

.nav {
  width:80%;
  display:block;
  margin-left: 10%;
  padding:10px 0px;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #2c4786;
  text-shadow: 0.5px 0.5px gray;
  text-decoration-line: none;
}
a.nav:hover {
  background-color:#d2d2d4;
  color:#FFE4C4;
  font-size:19px;
  text-shadow: none;
}
.container > div {
    display: inline-block;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 33%;
    text-align: center;
    background-color: pink;
}

p {
  font-size: 15px;
  font-family: 'Allerta', sans-serif;
  text-align: justify;
  color: black;
  margin-left: : 100px;
  margin-top: 20px;
}
