
body {
  margin:0px;
}

.content{
  /* set background image
  how do i make this linked from the image in the folder?
  */
  background-image: url("https://dsx.weather.com/util/image/w/gettyimages-634387506.jpg?v=at&w=1280&h=720&api=7db9fe61-7414-47b5-9871-e17d87b8b6a0");
  text-align: center;
  height: 100%;
  width:80%;
  /*need to adjust this for when sidebar is different sizes */
  margin-left: 20%;
  position: absolute;
}

.title{
  /* will this work on all browsers/computer screens? */
  margin-top: 12.5%;
}

h1 {
  /* style of large header here*/
  font-size: 90px;
  font-family: 'Allerta', sans-serif;
  font-weight: bolder;
  color: #FF7F50;
  margin: 5px;
  text-shadow: 0.5px 0.5px gray;
}

h2.main {
  /*style of smaller header here*/
  font-family: 'Open Sans', sans-serif;
  font-style:light;
  font-size:30px;
  text-align: center;
  color: #FF7F50;
}

a {
  color: #FF7F50;
  text-decoration-line: none;
}

.sidebar{
  height:100%;
  width:20%;
  background-color:#FFE4C4;
  position:fixed;
}

h2.nav {
  /*style of navigation header here*/
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #5f91ec;
  margin-top: 50%;
}

.nav {
  width:80%;
  display:block;
  margin-left: 10%;
  padding:10px 0px;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #5f91ec;
  text-shadow: 0.5px 0.5px gray;
  text-decoration-line: none;
}
a.nav:hover {
    background-color:#ff7f50;
    color:#FFE4C4;
    font-size:19px;
    text-shadow: none;
}
