
body {
  margin:0px;
}

.content{
  background-image: url('images/winter.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-image: horizontal;
  text-align: center;
  min-height: 100%;
  min-width:80%;
  /*need to adjust this for when sidebar is different sizes */
  margin-left: 20%;
  position: absolute;
}

.title{
  /* will this work on all browsers/computer screens? */
  margin-top: 5.5%;
}

h1 {
  /* style of large header here*/
  font-size: 80px;
  font-family: 'Allerta', sans-serif;
  font-weight: bolder;
  color: #2c4786;
  margin: 5px;
  text-shadow: 0.5px 0.5px gray;
}

h2.main {
  /*style of smaller header here*/
  font-family: 'Open Sans', sans-serif;
  font-style:light;
  font-size:30px;
  text-align: center;
  color: #004480;
}

a {
  color: #004480;
  text-decoration-line: none;
}

.sidebar{
  height:100%;
  width:20%;
  background-color:#d2d2d4;
  position:fixed;
}

h2.nav {
  /*style of navigation header here*/
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  text-align: center;
  color: #2c4786;
  margin-top: 50%;
}

.nav {
  width:80%;
  display:block;
  margin-left: 10%;
  padding:10px 0px;
  text-align:center;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  color: #2c4786;
  text-shadow: 0.5px 0.5px gray;
  text-decoration-line: none;
}
a.nav:hover {
    background-color:#d2d2d4;
    color:#FFE4C4;
    font-size:19px;
    text-shadow: none;
}

@media(max-width:500px) {
  .content{
    background-image: url("https://dsx.weather.com/util/image/w/gettyimages-634387506.jpg?v=at&w=1280&h=720&api=7db9fe61-7414-47b5-9871-e17d87b8b6a0");
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 50%
  }

  .sidebar{
    height:20%;
    width:100%;
    background-color:#FFE4C4;
    position:fixed;
  }
}
